<!doctype html>
<html>
    <head>
       <meta http-equiv="content-type" content="text/html" charset="utf-8" />

       <title>Cloud.ED :: Console</title>

       <link rel="stylesheet" href="./vendor/bootstrap/dist/css/bootstrap.min.css" />
       <link rel="stylesheet" href="./vendor/bootstrap-toggle/css/bootstrap-toggle.min.css" />
       <link rel="stylesheet" href="./icons/css/font-awesome.min.css" />
       <link rel="stylesheet" href="./styles/common.css" />
       <link rel="stylesheet" href="./styles/editor.css" />
    </head>
    <body>
        <div class="container">
            <div class="header clearfix">
                <nav>
                    <ul class="nav nav-pills float-right">
                        <li class="nav-item">
                            <a class="nav-link btn btn-primary new-profile" href="#">
                                <i class="fa fa-plus"></i>
                                Create
                            </a>
                        </li>
                        <li class="nav-item">
                            <label class="btn btn-warning btn-file">
                                <i class="fa fa-upload"></i>
Import <input type="file" id="files" name="files[]" class="import-csv" multiple />
                            </label>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-success export-csv" href="#">
                                <i class="fa fa-download"></i>
                                Export
                            </a>
                        </li>
                        <li class="nav-item">
                            <div class="checkbox">
<input id="showBy" type="checkbox" data-toggle="toggle" data-on="Title" data-off="Brand" data-onstyle="info" data-offstyle="danger">
                            </div>
                        </li>
                    </ul>
                </nav>
                <h3 class="text-muted">Amazon Merch Profiles</h3>
            </div>
            <div class="row marketing">
                <div class="col-lg-12">
                    <ol class='profiles-list'>
                    </ol>
                </div>
                <div class="col-lg-12">
                    <div id='contents'>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <p>&copy; 2017</p>
            </footer>
        </div>
        <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
        <script id="profile-view" type="text/html">
			<li class="panel panel-primary" data-id="<%- entry.uid %>">
				<div class="panel-heading">
					<h3 class="panel-title">
                        <span class="title field-brand"><%- entry.brandName %></span>
					    <span class="pull-right clickable remove-profile"><i class="fa fa-remove"></i></span>
					    <span class="pull-right clickable edit-profile"><i class="fa fa-edit"></i></span>
					    <span class="pull-right clickable move-down"><i class="fa fa-arrow-down"></i></span>
					    <span class="pull-right clickable move-up"><i class="fa fa-arrow-up"></i></span>
                    </h3>
				</div>
				<div class="panel-body">
				    <div class="row">
		                <div class="col-lg-6">
                              <div class="titleBlock">
<span class="badge badge-info field-title pull-left"><%- entry.title %></span>
                              </div>
                        </div>
		                <div class="col-lg-6">
                              <div class="extensionId">
                                  <input type="checkbox" class="field-enabled" data-toggle="toggle" data-onstyle="success" data-offstyle="danger" <% if (entry.enabled) { %>checked<% } %>>
<span class="badge badge-warning field-price">$<%- entry.price %></span>
                                  <% if (entry.shortcut) { %>
                                        <h4 class="pull-right">
                                            Shortcut :
                                            <span class="badge badge-dark field-shortcut"><%- entry.shortcut %></span>
                                        </h4>
                                  <% } %>
                              </div>
                        </div>
		                <div class="col-lg-12">
                              <p class="description field-description well"><%- entry.description %></p>
                              <% if (entry.features && entry.features.length) { %>
                                 <div class="features">
                                    <span>Features:</span>
                                    <br/>
                                    <ul class="features-list">
                                       <% entry.features.forEach(function(feature) { %>
                                          <% if (feature && feature.length) { %>
                                             <li class="feature field-feature">
                                                <%- feature %>
                                             </li>
                                             <% } %>
                                                <% }); %>
                                    </ul>
                                 </div>
                             <% } %>
                        </div>
                    </div>
			    </div>
			</li>
        </script>
        <script id="profile-form" type="text/html">
<form id="formProfile">
    <input type="hidden" name="index-field" value="<%- entry.uid %>" />
    <div class="form-group">
        <input type="text" class="form-control" name="title-field" placeholder="Title" value="<%- entry.title %>" autocomplete="on">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="brand-field" placeholder="Brand Name" value="<%- entry.brandName %>" autocomplete="on">
    </div>
    <div class="form-group">
        <input type="number" class="form-control" name="price-field" plaeholder="Price" value="<%- entry.price %>" autocomplete="off" step="any">
    </div>
    <div class="form-group">
        <label>Features :</label>
        <input type="text" class="form-control" name="feature-one-field" placeholder="Feature #1" value="<%- entry.features[0] %>">
        <input type="text" class="form-control" name="feature-two-field" placeholder="Feature #2" value="<%- entry.features[1] %>">
    </div>
    <div class="form-group">
        <textarea class="form-control" name="description-field" rows="5" placeholder="Description"><%- entry.description %></textarea>
    </div>
    <div class="form-group">
        <input type="checkbox" name="enabled-field" data-toggle="toggle" data-onstyle="success" data-offstyle="danger" <% if (entry.enabled) { %>checked<% } %>>
        <input type="text" class="form-control" name="shortcut-field" placeholder="Autofill Shortcut" value="<%- entry.shortcut %>">
    </div>
</form>
        </script>
        <script type="text/javascript" src="./vendor/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="./vendor/jquery-sortable/source/js/jquery-sortable-min.js"></script>
        <script type="text/javascript" src="./vendor/jquery-csv/src/jquery.csv.min.js"></script>
<!--
        <script type="text/javascript" src="./vendor/bootstrap/js/dist/popover.js"></script>
        <script type="text/javascript" src="./vendor/bootstrap/js/dist/util.js"></script>
//-->
        <script type="text/javascript" src="./vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="./vendor/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>
        <script type="text/javascript" src="./vendor/bootbox.js/dist/bootbox.min.js"></script>
        <script type="text/javascript" src="./vendor/lodash/dist/lodash.min.js"></script>
        <script type="text/javascript" src="./vendor/autobahn/autobahn.min.js"></script>
        <script type="text/javascript" src="./scripts/action.js"></script>
        <script type="text/javascript" src="./scripts/editor.js"></script>
        <script type="text/javascript" src="./scripts/implant.js"></script>
    </body>
</html>
